/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}

fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}

fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}

fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}

fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}

form div {
	clear: both;
	padding: .5em;
	vertical-align: text-top;
}

form .input {
	color: #444;
}

form .required {
	font-weight: bold;
}

form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}

form div.submit {
	border: 0;
	clear: both;
	padding: 0px 20px;
}

label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	width:98%;
}

select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}

select[multiple=multiple] {
	width: 100%;
}

option {
	font-size: 120%;
	padding: 0 3px;
}

input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}

div.checkbox label {
	display: inline;
}

input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}

.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}

input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
	background-color: #D1680B;
	color: #ffffff;
	padding: 1px;
}

form .submit input[type=submit]:hover {
	background: #334CB2;
}
/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}