/**
 * GroupTrotteur: Heureux qui comme Ulysse a fait un beau voyage
 *
 * @author        A. Chardon, A. El Bachiri, J. Pieyre, A. Suzanne
 */

@charset "utf-8";

/*
 *	Header and footer
 */
#header {
	background-color: #001f9f;
	/*height: 1.5em;*/
	color: #ffffff;	
	font-weight: normal;
}

#footer {
	background-color: #001f9f;
	color: #ffffff;
}

#header #links{
	display: inline;
	position: relative;
	font-size: 2em;
}

#header #userConnection{
	display: inline;
	position:relative;
	font-size: 1em;
}

/*
 * Containers
 *
 */

/*
 * Erase CakePHP configuration
 */
div.form,
div.index,
div.view {
	float:right;
	width:100%;
	border-left:0px solid #666;
	padding:0px 0%;
}

div.hidden {
	display: none;
}

/* div pour la connexion et inscription */
div.login {
	display: inline;
	width: 300pt;
	background-color: black;
}

/*
 * Links
 */
a {
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}

/*
 * Titles
 */
h1 {
	font-size: 2em;
	color: blue;
}

h2 {
	font-size: 1.5em;
	color: blue;
}

fieldset legend {
	color: black;
	font-size: 100%;
	font-weight: normal;
}