/**
 * GroupTrotteur: Heureux qui comme Ulysse a fait un beau voyage
 *
 * @author        A. Chardon, A. El Bachiri, J. Pieyre, A. Suzanne
 */

@charset "utf-8";

/*
 * General Style Info
 */
body {
	background: #003d4c;
	color: #fff;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
}

#container {
	text-align: left;
}

#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 40px 20px;
	overflow: auto;
}

/*
 * Titles
 */
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:0.5em;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
}

h1 {
	color: #E8730C;
	font-size: 2em;
}

h2 {
	color: #6d6e72;
	font-size: 190%;
	margin: 0;
	padding: 0;
}

h3 {
	color: #2c6877;
	font-size: 165%;
}

h4 {
	color: #E8730C;
	font-size: 200%;
	margin: 0;
	padding: 0;
}

big {
	font-size: 1.2em;
}


/*
 * Containers
 *
 */
/* do not show the div */
div.hidden {
	display: none;
}

/* div pour la connexion et inscription */
div.login {
	display: inline-block;
	float:left;
	width: 35%;
	padding-top: 2%;
	padding-left: 7%;
	padding-right: 7%;
}

div#inscription {
	border-right:2px solid #666;
}

/* floating div (to have multiples in the same line) */
div.float {
	display: inline-block;
}

div.right {
	float: right;
}

div.top_right {
	position: absolute;
	top: 80px;
	width: auto;
	right:5px;
}

div.actions {
	padding: 40px;
}

div#top_left_etape {
	position: absolute;
	right: 10px;
	top:90px;
	padding:0;
}

/*
 * Links
 */
a {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration:none;
}

/*
 * Buttons
 */
ul {
	list-style: none;
	padding-left: 0;
}

ul, li {
	margin: 15px 12px;
}

.actions ul li a,
.actions a {
	font-weight:normal;
	padding: 4px 8px;
	background: #001f9f;
	color:#fff;
	border:1px solid #bbb;
}

input[type=submit]:active,
.actions ul li a:active,
.actions a:active {
	background: blue;
}